@font-face {
  font-family: 'PetitaBold';
  font-style: normal;
  font-weight: normal;
  src: local("PetitaBold"), url("../font/PetitaBold.woff") format("woff"); }
@font-face {
  font-family: 'PetitaLight';
  font-style: normal;
  font-weight: normal;
  src: local("PetitaLight"), url("../font/PetitaLight.woff") format("woff"); }
@font-face {
  font-family: 'PetitaMedium';
  font-style: normal;
  font-weight: normal;
  src: local("PetitaMedium"), url("../font/PetitaMedium.woff") format("woff"); }
body {
  padding: 0;
  margin: 0; }
  body ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  body a {
    cursor: pointer;
    text-decoration: none;
    color: #000; }
  body button:focus {
    outline: none; }
  body .container {
    max-width: 1365px;
    width: 100%;
    margin: 0 auto; }
  body .cart-counter {
    font-family: PetitaBold;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    line-height: 20px; }

.top-bar .navbar {
  padding: 30px 0px; }
  .top-bar .navbar .nav-item {
    display: inline-block; }
.top-bar .navbar-nav .nav-link {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px; }

.main-menu {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto; }
  .main-menu .navbar-toggler {
    border: 0;
    padding: 0; }
  .main-menu .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    padding: 5px 15px 5px 15px;
    text-transform: uppercase;
    color: #000; }
  .main-menu .navbar-nav .nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #C36E0E;
    transition: width .3s; }
  .main-menu .navbar-nav .nav-item:hover::after {
    width: 100%; }

.search-bar input[type="text"] {
  height: 38px;
  font-size: 25px;
  display: inline-block;
  font-weight: 100;
  border: none;
  outline: none;
  color: #000;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
  cursor: pointer; }
  .search-bar input[type="text"]:focus {
    background: #fff;
    width: 500px;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text; }
    .search-bar input[type="text"]:focus:hover {
      border-bottom: 1px solid #BBB; }
.search-bar input[type="submit"] {
  height: 24px;
  width: 24px;
  display: inline-block;
  color: #000;
  background-repeat: no-repeat;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAABHNCSVQICAgIfAhkiAAAAUZJREFUSInVleFxgzAMhb8yASOwQbxByQZsUDZoR8gGoROUEbJB2IBskHSCsEH6A/lQDAYb8qe68wHmye9JlmzwmwGOwBl4yLjK9yeQzfgumnEWnhtHII0lKNUCHVABhVKdC6ZRuFaERRPUAQpz4CL4ewAeowgOoapkYUvULoFt+HUEgSbqxL/0gWwUHSs2Ucym+uoDVAKoVhJYs9GMiiBRk81GkpM8iymSd3m/bCS5+X4kIaBIG50ECfAr7/mLSEZiEzW56Sxi2NvJjHzRV8V5A0HK0MyTYjMFWJuyWvxnK9T2Skt8QxYEinTPoFCigv5wDG5mw9C1d+BjQdQPz3eLV9zbhHMD7OS7o+9kXTGG567+pk/Tjj4be/FbtFIWnrsVG4Y9mE23G4lrWnUmxDchcPtBZyEqolhbW0D/g8h7W76K6ACkf9T5eKL1ymewAAAAAElFTkSuQmCC");
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 50%;
  right: 25%;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
  transform: translate(-50%, -50%); }
  .search-bar input[type="submit"]:hover {
    opacity: 0.8; }

.banner {
  background: url("../images/Group 72.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  margin-bottom: 80px; }
  .banner .left-widget {
    color: #fff; }
    .banner .left-widget h1.banner-title {
      font-family: PetitaMedium;
      font-size: 60px; }
    .banner .left-widget p {
      font-family: PetitaLight;
      font-size: 28px;
      max-width: 400px;
      width: 100%; }
    .banner .left-widget button {
      font-family: PetitaLight;
      padding: 20px 0;
      width: 170px;
      text-align: center;
      font-size: 17px;
      border: 0; }

.new-arrival {
  font-family: PetitaMedium; }
  .new-arrival h3 {
    font-family: PetitaBold; }
  .new-arrival .owl-carousel-arrival .owl-nav button.owl-next {
    position: absolute;
    right: -40px;
    top: 40%; }
  .new-arrival .owl-carousel-arrival .owl-nav button.owl-prev {
    position: absolute;
    left: -40px;
    top: 40%; }
  .new-arrival .owl-carousel-arrival button.owl-dot.active {
    border: 1px solid #707070;
    border-radius: 50%;
    margin: 0 5px;
    padding: 6px 4px !important; }
    .new-arrival .owl-carousel-arrival button.owl-dot.active span {
      outline: none;
      background-color: #707070; }
  .new-arrival .owl-item {
    max-width: 458px;
    width: 100%; }
    .new-arrival .owl-item .card-item {
      margin-bottom: 20px;
      position: relative; }
    .new-arrival .owl-item .icon-group {
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: #fff;
      padding: 10px 10px; }
      .new-arrival .owl-item .icon-group a {
        text-align: center;
        margin: 0 10px;
        padding: 10px 0;
        display: inline-block; }
        .new-arrival .owl-item .icon-group a i {
          font-size: 15px; }
    .new-arrival .owl-item .card-item-footer {
      text-align: center; }
      .new-arrival .owl-item .card-item-footer label {
        font-family: PetitaBold;
        font-size: 29px; }
      .new-arrival .owl-item .card-item-footer p {
        font-size: 25px;
        font-family: PetitaMedium; }

.new-arrival-bg {
  background: url("../images/Group 63@2x.png") no-repeat right;
  background-size: contain; }

.category-grid {
  background-color: #F4F4F4;
  padding: 100px 0;
  margin-top: -17px; }
  .category-grid .category-grid-item {
    margin-bottom: 40px; }
    .category-grid .category-grid-item h3 {
      font-size: 37px;
      font-family: PetitaBold; }
    .category-grid .category-grid-item a {
      font-size: 24px;
      font-family: PetitaMedium;
      color: #747474; }

@media (max-width: 1024px) {
  .top-bar .navbar .nav-item .nav-link {
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px; }

  .main-menu .navbar-nav .nav-item .nav-link {
    font-size: 14px; }

  .banner {
    margin-bottom: 40px; }

  .banner .left-widget h1.banner-title {
    font-family: PetitaMedium;
    font-size: 32px; }

  .banner .left-widget p {
    font-family: PetitaLight;
    font-size: 16px;
    max-width: 290px;
    width: 100%; }

  .banner .left-widget button {
    font-family: PetitaLight;
    padding: 10px 0;
    width: 100px;
    text-align: center;
    font-size: 12px;
    border: 0; }

  .category-grid {
    padding: 50px 0;
    margin-top: initial; }
    .category-grid .category-grid-item {
      margin-bottom: 40px; }
      .category-grid .category-grid-item h3 {
        font-size: 31px;
        font-family: PetitaBold; }
      .category-grid .category-grid-item a {
        font-size: 20px;
        font-family: PetitaMedium;
        color: #747474; } }
@media (max-width: 768px) {
  .top-bar {
    border-bottom: 1px solid #eee; }
    .top-bar .navbar {
      padding: 5px 0; }
      .top-bar .navbar .nav-item .nav-link {
        font-size: 13px;
        padding-right: 5px;
        padding-left: 5px; }

  .main-menu {
    padding: 10px 0; }
    .main-menu .search-bar input {
      display: none; }

  .owl-carousel-arrival .owl-nav {
    display: none; } }
@media (max-width: 767px) {
  .banner .left-widget {
    text-align: center; }

  .new-arrival-bg {
    background: none; } }

/*# sourceMappingURL=sqi-style.css.map */
